@model int

<div class="btn-group">
    <a asp-action="Duzenle" asp-route-id="@Model" class="btn btn-success"><i class="fa fa-edit"></i></a>
    <a asp-action="Detay" asp-route-id="@Model" class="btn btn-info"><i class="fa fa-list-alt"></i></a>
    <a asp-action="Sil" asp-route-id="@Model" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
</div>