@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@

<ul class="navbar-nav  ml-auto">
    @if (User.Identity.IsAuthenticated)   //if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown no-arrow">

            <a class="nav-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline small">
                    @User.Identity.Name
                </span>
            </a>

            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Profile">
                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Manage">
                    <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/AuditLog">
                    <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Audit Log
                </a>
                <div class="dropdown-divider"></div>
                @*<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>

                </a>*@

                <a asp-controller="Home" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="dropdown-item">
                    <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Çıkış
                </a>
            </div>

        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" href="/login">Giriş</a>
        </li>
    }
</ul>