 <!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Yabancı Diller Yüksekokulu Öğrenci Bilgi Sistemi
    </div>
    <!-- Default to the left -->
    <strong> &copy; 2012-@DateTime.Now.Year.ToString() <a href="https://ydyo.beun.edu.tr">Yabancı Diller Yüksekokulu</a>.</strong> Tüm Hakları Saklıdır.
</footer>