@model DonemDto
@{ 
    ViewData["Title"] = "Yeni Dönem";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="UpsertDonem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="card">
                <div class="card-body">
                    
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Adi">Dönem Adı</label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Adi" class="form-control" />
                            <span asp-validation-for="Adi" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-9 offset-3">
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Aktif" class="custom-control-input" type="checkbox" />
                                <label asp-for="Aktif" class="custom-control-label"></label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="form-group row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block ml-2">Ekle</button>
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-success btn-block ml-2">Geri Dön</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>